

// spk-file-upload
$tile-width: 200px;
$tile-height: 160px;
$tile-padding: 10px;

.spk-e-images {
	.files-loader {
		padding: 1rem;
		text-align: center;
	}

    .files-holder {
        width: 100%;
        min-height: $tile-height;
		border: 3px solid #fff;

		.file-holder {
			padding: 0px 16px;
			.alert {
				margin-bottom: 5px;
				padding: 5px 0px;
				a {
					color: #3c763d;
				}
			}
			.alert:hover {
				background-color: darken(#dff0d8, 10%);
			}

			.file-manager {
				text-align: right;
				margin-top: 5px;
				padding-top: 5px;
				border-top: 1px solid #fff;
				a {
					padding: 0px 5px;
				}
				a:hover {
					text-decoration: underline;
				}
				a:first-of-type {
					padding-left: 0px;
				}
			}
		}
		i {
			padding-right: 5px;
		}
        .image-holder {
			width: $tile-width;
			height: $tile-height;
			float: left;
			padding: $tile-padding;

			a.image-option {
				font-size: $font-size-base * 0.8;
				text-align: center;
			}

			 .image-displayer {
				 background-position: center;
				 background-size: cover;
				 img {
					 border: 1px solid $gray-300;
					 width: $tile-width;
					 height: $tile-height - 50px;
				 }
			 }
		}
		@include media-breakpoint-down(lg) {

		}
    }

	.single-image {
		width: 230px;
		.image-holder {
			width: 200px;
		}
	}

    .dragover {
        background-color: #e1f7d8;
        border: 3px dashed #aaecaa;
    }
}
