
.btn {
    margin: 0px;
    // border-radius: 30px !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none!important;
 }

.row.btn-cluster {
    @include media-breakpoint-down(sm) {
        margin: 0px;
    }
}

.btn-cluster {
    .btn {
        border-radius: 0px;
    }
}

 .btn-theme-light {
    color: $text-main !important;
    @include button-variant($gray-100, darken($gray-100, 15), darken($gray-100, 10), darken($gray-100, 15));
}

 .btn-theme-primary {
    color: #fff!important;
    @include button-variant($theme-primary, darken($theme-primary, 5), darken($theme-primary, 10), darken($theme-primary, 10));
}
