
/* forms */
.checkbox-holder {
    display: flex;
    align-items: flex-end;
    .form-check {
        padding-bottom: 0.35rem;
    }
}

.image-uploader {
    p {
        margin-bottom: 0.5rem;
    }
    .image-sample {
        width: 100%;
        padding: 0.5rem;
        border: 1px dashed silver;
        img {
            max-height: 60px;
            max-width: 100%;
        }
    }
}

/* forms */
/* form field with additional information below inputbox */
.lb-form-filed-message {
	.form-group {
		margin-bottom: 5px;
		p.error {
			margin-bottom: 0px;
		}
	}
}
.lb-form-infotext {
	padding-left: 5px;
	color: $lb-blue;
}

.lb-no-label {
    .form-label {
        display: none;
    }
}

.small {
    .form-label {
        margin-bottom: 0;
    }
}