
/* forms */
.alert-narrow {
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
}

.checkbox-holder {
    display: flex;
    align-items: flex-end;
    .form-check {
        padding-bottom: 0.35rem;
    }
}

.image-uploader {
    p {
        margin-bottom: 0.5rem;
    }
    .image-sample {
        width: 100%;
        padding: 0.5rem;
        border: 1px dashed silver;
        img {
            max-height: 60px;
            max-width: 100%;
        }
    }
}


.tags-holder {
    
}

