
.lb-bg-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.lb-content-holder {
    min-height: 100%;
    background-color: $gray-200;
    .lb-main-holder {
        padding-top: $lb-top-bar-height + 15px;
        .lb-main-hints {
            margin: 0.5rem 0;
        }
    }
}

.lb-filter-holder {
    padding: 0.5rem;
    .lb-date-picker {
        .form-control {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
        }
    }
    @include media-breakpoint-down(xl) {
        .lb-date-picker {
            padding-top: 0.5rem;
        }
    }
}

.lb-settings-holder {
    h4 {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
    > div {
        padding: 0.25rem 0rem;
    }
}

/* MEDIA */
@include media-breakpoint-down(md) {
    .lb-content-holder {
        .lb-main-holder {
            padding-top: $lb-top-bar-height-sm + 10px;
        }
    }
    .lb-top-bar {
        display: none;
    }
}
