
/* Common LemonBee Styles */
h4 {
    font-size: 1.3rem;
}

.alert-hint {
    font-size: $lb-text-smaller;
}

.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.clickable {
	cursor: pointer;
	cursor: hand;
}

.i-left {
    margin-right: 0.5rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.lb-bg-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.search {
    padding: 1rem 0;
}

/* MEDIA */
@include media-breakpoint-down(sm) {
	.lb-buttons-panel {
        height: auto;
        margin-top: 0px !important;
        .btn {
            padding: .85rem .25rem;
            font-size: $lb-text-small;
            border: 1px solid #fff;
        }
		.lb-back-button {
			position: relative;
			width: 100%;
			left: 0px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}
