
/* Login */
.lb-background-login {
	background-image: url('../images/login_background.jpg');
	background-color: $lb-gray-blue-dark;
}

.lb-login-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.lb-login {
    align-self: center;
	.lb-login-content {
        background-color: $gray-200;
        border-bottom: 1rem solid $theme-primary;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
	}
	.lb-login-logo {
        padding: 1rem 2rem;
        text-align: center;
        background-color: #fff;
		img {
			max-height: 100px;
			max-width: 90%;
		}
	}
	.lb-login-form {
        padding: 2rem 1rem;
        .lb-login-info {
            .form-control {
                margin-bottom: 1rem;
            }
            .btn {
                @extend .btn-lg;
            }
        }
	}
	.lb-povered-by {
		background-color: transparent;
	}
}

/* Logout */
.logout {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

/* Media */
@include media-breakpoint-down(sm) {
	.lb-login {
		align-self: top;
		margin: 1rem;
		.lb-login-content {
			height: auto;
        }
        .lb-login-form {
            h3 {
                font-size: $font-size-base * 1.4;
            }
            .lb-login-info {
                margin-top: 1rem;
            }
        }
	}
}