
/* Side menu */
.lb-menu-main {
    height: calc(100vh - #{$lb-top-bar-height});
    overflow-y: auto;
    .navbar {
        padding: 0px;
        .navbar-toggler {
            border-color: #fff;
            border-radius: 0px;
        }
    }
	.navbar-nav {
		display: inline-block;
		width: 100%;
	}
	li {
        padding: 0.5rem;
        border-bottom: 1px solid darken($gray-100, 5);
        @include media-breakpoint-down(md) {
            a {
                font-size: $lb-text-small;
            }
        }       
    }
    li:hover, .active {
        background-color: $theme-secondary;
        a {
            color: #fff !important;
        }
    }
}

/* Tiles */
.lb-menu-tiles {
    .card {
        margin-bottom: 15px;
        border-color: #cbd3da;
        .card-body {
            padding: 0.5rem;
            .btn {
                font-weight: 550;
            }
        }
        .lb-tile-main {
            margin: 0px;
            padding: 1rem 0.5rem;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            div {
                width: 100%;
                font-weight: 550;
            }
            img {
                max-height: 42px;
                margin-bottom: 0.5rem;
            }
        }
    }
}

/* Media */
@include media-breakpoint-down(sm) {
    .lb-menu-tiles {
        .card {
            .tile-main {
                padding: 20px 10px;
                img {
                    height: 40px;
                    margin-bottom: 4px;
                }
            }
        }
        .card-body {
            padding: 0.5rem 0.25rem;
            .btn-holder {
                padding: 0rem 0.25rem;
            }
        }
    }
}
