
/* Side menu */
.lb-menu-main {
    .navbar {
        padding: 0px;
        .navbar-toggler {
            border-color: #fff;
            border-radius: 0px;
        }
    }
    .navbar-brand {
        padding: 1rem;
        img {
            max-width: $lb-logo-width;
        }
    }
	.navbar-nav {
		display: inline-block;
		width: 100%;
	}
	li {
        padding: 0.5rem;
        border-bottom: 1px solid darken($gray-100, 5);
        @include media-breakpoint-down(sm) {
            a {
                font-size: $lb-text-small;
            }
        }       
    }
    li:hover, .active {
        background-color: $theme-secondary;
        a {
            color: #fff !important;
        }
    }
}

/* Tiles */
.lb-menu-tiles {
    .card {
        margin-bottom: 15px;
        border: none;
        .tile-main {
            margin: 0px;
            padding: 30px 10px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            img {
                max-width: 100px;
                margin-right: 1rem;
            }
        }
    }
}

/* Media */
@include media-breakpoint-down(sm) {
    .lb-menu-tiles {
        .card {
            .tile-main {
                padding: 20px 10px;
                img {
                    height: 40px;
                    margin-bottom: 4px;
                }
            }
        }
        .card-body {
            padding: 0.5rem 0.25rem;
            .btn-holder {
                padding: 0rem 0.25rem;
            }
        }
    }
}
