

/* Panels */
.lb-panel-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
}
.lb-panel-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    .flex-box {
        display: flex;
        flex-direction: column;
    }
    .flex-box-fill {
        flex: 1;
    }
}