
.lb-buttons-panel {
    text-align: right;
    .btn {
        min-width: 180px;
    }
}

 .lb-logo {
    padding: 1rem;
    img {
        width: $lb-logo-width;
        max-width: 100%;
    }
}

.lb-menu-holder {
    padding: 0px;
    background-color: #fff;
    z-index: 11;
}

.lb-content-holder {
    min-height: 100%;
    background-color: $gray-200;
    .lb-main-holder {
        padding-top: $lb-top-bar-height + 15px;
        .card {
            .card-header {
                position: relative;
                background-color: $theme-primary;
                color: #fff;
            }
            .filter-holder {
                border-top-right-radius: 0.25rem;
                border-top-left-radius: 0.25rem;
                .btn-group {
                    margin-top: 28px;
                    margin-bottom: 1rem;
                }
                .form-group {
                    margin-bottom: -1rem !important;
                }
                label {
                    margin: .2rem 0;
                    font-size: $lb-text-smaller;
                }
            }
        }
        .card-form {
            margin-top: 20px;
            padding: 0px 0px 15px 0px;
            .form-horizontal {
                padding-top: 15px;
            }
            .form-horizontal-with-header {
                padding-top: 0px;
            }
            label {
                font-weight: bold;
            }
            .alert {
                border-radius: 0;
            }
        }
        .lb-main-hints {
            margin: 0.5rem 0;
        }
    }
}

 .lb-top-bar {
     position: fixed;
     top: 0px;
     left: 0;
     width: 100%;
     height: $lb-top-bar-height;
	 background-color: $lb-top-bar-bg;
     z-index: 10;
 }

/* Panels */
.lb-panel-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
}
.lb-panel-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    .flex-box {
        display: flex;
        flex-direction: column;
    }
    .flex-box-fill {
        flex: 1;
    }
}

.lb-povered-by {
	padding: 5px;
	color: #fff;
	width: 100%;
	text-align: right;
	background-color: $lb-povered-by-bg;

	a {
		color: $lb-povered-by-link;
	}
}

.title-holder-sm {
    display: none;
}

/* MEDIA */
@include media-breakpoint-down(md) {
    .lb-main-holder {
        .card {
            .filter-holder {
                .btn-group {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .lb-logo {
        display: none;
    }
    .lb-main-holder {
        padding-top: $lb-top-bar-height-sm + 10px;
        .card {
            .filter-holder {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                .btn-group {
                    .btn {
                        font-size: $lb-text-smaller;
                        line-height: 1.2;
                        word-spacing: 100px;
                    }
                }
            }
        }
        .card-no-card-mobile {
            margin: 0px -15px;
            border-radius: 0px;
        }
        .lb-main-header {
            padding: 0px;
        }
        .lb-main-hints {
            .alert {
                margin-bottom: 0.5rem;
                padding: 0.4rem 0.6rem;
                h4 {
                    margin: 0px;
                }
            }
        }
        .lb-main-stats {
            display: none;
        }
    }
    .lb-menu-holder {
        min-height: $lb-top-bar-height-sm;
        height: auto;
        padding-top: 5px;
    }
    .lb-top-bar {
        display: none;
    }
    .title-holder-sm {
        display: inline-block;
        position: fixed;
        top: 0px;
        left: 60px;
        font-size: $lb-text-bigger;
        line-height: $lb-top-bar-height-sm;
        z-index: 100;
    }
}
