/* Login */
.login-info {
	float: none;
	width: 100%;
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid $gray-500;

	.input-group-addon {
		padding: 6px;
	}
	.btn {
		@extend .btn-lg;
		margin: 15px 0px;
	}
}

/* Logout */
.logout {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
