
/* Top menu */
.lb-menu-top {
	img {
		display: inline;
		max-width: 50px !important;
		margin-right: 5px;
	}
	.navbar-nav {
		display: inline-block;
		width: 100%;
	}
	li {
		border-bottom: 1px solid $gray-400;
	}
}

/* Main menu */
.lb-menu-main {
	.main-tile {
		margin: 0px;
		padding: 40px 10px;
		font-size: 24px;
		img {
			margin: auto;
			max-width: 100px;
		}
	}
	.sub-tile-holder {
		margin: 0 -5px;
	}
	.sub-tile {
		padding: 10px 5px;
		float: left;
		.btn {
			margin: 0px;
		}
	}
}

/* Media */

@media (max-width: 1300px) {
	.lb-menu-top {
		a {
			font-size: 16px;
		}
		img {
			max-width: 40px !important;
		}
	}
}

@include media-breakpoint-down(lg) {
	.lb-menu-top {
		a {
			font-size: 18px;
		}
	}
}


@include media-breakpoint-down(md) {
	.lb-menu-top {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

@include media-breakpoint-down(sm) {

}
