
/* Top menu */
.lb-menu-top {
	img {
		display: inline;
		max-width: 50px !important;
		margin-right: 5px;
	}
	.navbar-nav {
		display: inline-block;
		width: 100%;
	}
	li {
		border-bottom: 1px solid $gray-400;
	}
}

/* Main menu */
.lb-menu-main {
	h1 {
		margin: 0px;
		margin-bottom: 5px;

		a {
			padding-top: 30px;
			padding-bottom: 30px;
			font-size: 30px;
			font-weight: 200;
		}

		a:hover {
			text-decoration: none;
		}

		img {
			margin: auto;
			max-width: 100px;
		}
	}

	.lb-menu-item {
		padding: 5px;
	}
}

/* Media */

@media (max-width: 1300px) {
	.lb-menu-top {
		a {
			font-size: 16px;
		}
		img {
			max-width: 40px !important;
		}
	}
}

@include media-breakpoint-down(lg) {
	.lb-menu-main {
		h1 {
			a {
				font-size: 25px;
			}

			img {
				max-width: 80px;
			}
		}
	}
	.lb-menu-top {
		a {
			font-size: 18px;
		}
	}
}


@include media-breakpoint-down(md) {
	.lb-menu-top {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

@include media-breakpoint-down(sm) {

}
