/* Login */
.lb-background-login {
	background-image: url('../images/login_background.jpg');
	background-color: $lb-gray-blue-dark;
}

.magda-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.lb-login {
	align-self: center;

	.lb-login-content {
		height: 350px;
		padding: 5px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0px 0px 8px #000;

		.alert {
			margin-bottom: 15px;
			padding: 8px;
		}
	}

	.lb-login-logo {
		height: 100%;
		border-right: 1px solid $gray-lighter;
		background-image: url('../images/logo_background.png');
		background-size: 100% 100%;

		img {
			position: absolute;
   			left: 50%;
   			top: 50%;
   			transform: translate(-50%, -50%);
			max-width: 80%;
		}
	}

	.lb-login-form {
		height: 100%;
		padding-top: 10px;

	}

}

/* Main system panel */
.lb-background-main {
	//background-image: url('../images/login_background.jpg');
 }

 .lb-topbar {
	 border-bottom: 1px solid $gray-lightest;
 }

 /* logo */
 .lb-logo {
 	height: $lb-topbar-height;
 	overflow: hidden;

 	h2 {
 		@extend .text-center;
		@extend .mg-no-margin;
		 
 		line-height: $lb-topbar-height;
 	}

 	img {
 		padding: 4px 0px 4px 0px;
 		max-width: 80%;
		max-height: 90%;
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
 	}
 }

 .lb-header {
	 img {
		 display: inline;
	 }
 }

.lb-content {
	position: relative;
}

/* powered by */
.lb-povered-by {
	padding: 5px;
	color: #fff;
	width: 100%;
	text-align: right;

	a {
		color: $brand-success;
	}

	a.text-primary {
		color: $brand-primary;
	}
}


/* MEDIA */
@include media-breakpoint-down(md) {
	.lb-login {
		.lb-login-content {
			height: 400px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.lb-login {
		.lb-login-content {
			height: auto;
		}
		.lb-login-logo {
			height: 200px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-right-width: 0px;
			border-bottom: 1px solid $gray-lighter;
			//background: none;

			img {
				position: relative;
				max-height: 90%;
			}
		}
	}
}
