
/* styles indyvidual for system */
.sys-checbox-holder {

	input[type="checkbox"] {
		@extend .float-left;

	  	width: 30px;
	}

	label {
		@extend .float-left;

		width: 170px;
		padding-top: 10px;
		font-size: 20px;
		//background-color: red;
	}

	p {
		margin-right: 15px;
		line-height: 2;
	}
}

.sys-form-details {
	input[type="file"] {

	}

	.form-control {
		height: auto;
		min-height: 36px;
	}
}

.sys-header-bar {
	@extend .mg-spacer-top-s;
	@extend .mg-spacer-bottom-s;

    padding: 15px;
	background-color: $lb-blue;
	color: #fff;
	i {
		padding-right: 2px;
	}
}

.sys-form-bar {
	background-color: $gray-light;
	margin: 5px 0px;
}
