
/* styles indyvidual for system */
.sys-form-details {
	input[type="file"] {

	}

	.form-control {
		height: auto;
		min-height: 36px;
	}
}

.sys-header-bar {
	@extend .mg-spacer-top-s;
	@extend .mg-spacer-bottom-s;

    padding: 15px;
	background-color: $lb-blue;
	color: #fff;
	i {
		padding-right: 2px;
	}
}

.sys-form-bar {
	background-color: blue;
	margin: 5px 0px;
}
