/* Tables */
table {
	font-size: 16px;
	th {
		background-color: #204e56;
		color: #fff;
		border-radius: 0px;

		a {
			color: #fff;
			font-weight: 400;
		}
	}

	tr {
		td.narrow {
			input {
				width: 40px;
				text-align: center;
			}
		}
	}
}

/* calnedar */
.input-group {
	table {
		th {
			border-radius: 0px;
		}
		th:hover {
			background-color: darken(red, 5%)!important;
		}
		td.active {
			background-color: $primary;
		}
		td.active:hover {
			background-color: darken($primary, 10%);
		}
	}
}
