/* Tables */
table {
    @extend .table-hover;
	a {
		color: $gray-600;
	}
	a:hover {
		color: #000;
	}
	thead {
		background-color: $theme-primary;
		color: #fff;

		a {
			color: #fff;
			font-weight: normal!important;
		}
		a:hover {
			color: $gray-300;
		}
	}
	tr {
		td.narrow {
			input {
				width: 40px;
				text-align: center;
			}
		}
    }
    .not-downloaded {
        // background-color: rgba(240, 240 ,240, 1);
        a {
            color: $primary;
        }
    }
}

.table {
    @extend .table-sm;
}

.table_empty {
    padding: 15px;
}

/* Row styles */
.data-offline {
    background-color: #ececec !important;
    td {
        border-top-color: rgb(255, 255, 255) !important;
    }
}
.data-synched {
    td a {
        color: $theme-primary !important;
    }
}

/* Calnedar */
.input-group {
	table {
		text-shadow: none!important;
		th {
			border-radius: 0px;
		}
		th:hover {
			background-color: darken($primary, 5%)!important;
		}
		td.active {
			background-color: $lb-blue-light;
			color: #000;
			text-shadow: none;
		}
		td.active:hover {
			background-color: darken($lb-blue-light, 10%);
			color: #fff;
		}
	}
}

@include media-breakpoint-down(sm) {
    table {
        font-size: $lb-text-small;
        thead {
            font-size: $lb-text-small;
        }
        td {
            padding-top: 0.75rem !important;
            padding-bottom: 0.75rem !important;
        }
    }
}

