/* User Info */
.lb-user-info {
	height: $lb-topbar-height;
	text-align: right;
	line-height: $lb-topbar-height;
	color: $lb-blue-light;

	a {
		color: #fff;
	}

	i {
		color: $lb-blue-light;
	}

	img {
		display: inline;
		max-height: $lb-topbar-height - 20px;
	}

	@include media-breakpoint-down(sm) {
		height: auto;
		text-align: left;
	}
}
