/* Bootstrap Variables Overwrites */
//$grid-float-breakpoint: 920px; /* Controll when menu toggle appears */

$font-family-sans-serif: "Source Sans Pro", Arial, sans-serif;
/* LemonBee Variables */
$lb-logo-width: 200px;
$lb-logo-height: 47px;

$lb-topbar-height: 80px;
$lb-buttons-panel-height: 60px;

/* colors */
$lb-black: #191919;
$lb-blue: #6196c5;
$lb-blue-light: #a4d0ff;
$lb-blue-lighter: #e1f3fc;
$lb-blue-steel: #3b4f67;
$lb-blue-steel-dark: #314256;
$lb-gray: #a9a9a9;
$lb-gray-dark: #3b3b3b;
$lb-gray-blue-dark: #2f353f;
$lb-red: #ed1c24;

/* </Custom Variables Definitions> */

$lb-topbar-bg: $gray-600;
$lb-povered-by-bg: $gray-600;
$lb-povered-by-link: $lb-blue-light;
$lb-font-awesome-padding: 6px;
