
/* colors */
$brand-secondary: #204e56;
$brand-success: $brand-secondary;

/* Bootstrap Variables Overwrites */
$brand-primary: #52c0ff;
$text-color: $brand-secondary;

//$grid-float-breakpoint: 920px; /* Controll when menu toggle appears */

$font-family-sans-serif: "Source Sans Pro", Arial, sans-serif;
$font-size-base: 16px;

//$headings-color: $text-color;

$gray-lightest: $gray-900;
$gray-lighter: $gray-700;
$gray-light: $gray-500;

$navbar-inverse-bg: transparent;
$nav-link-hover-bg: red;
$navbar-inverse-toggle-hover-bg: #e5f6ff;
$navbar-inverse-toggle-border-color: $gray-lighter;
$navbar-inverse-toggle-icon-bar-bg: $gray-lighter;

/* only sharp edges */
//$border-radius-base: 0px;
//$state-danger-bg: #d9534f;

/* LemonBee Variables */
$lb-logo-width: 200px;
$lb-logo-height: 47px;

$lb-topbar-height: 80px;
$lb-buttons-panel-height: 60px;

/* colors */
$lb-black: #191919;
$lb-blue: #6196c5;
$lb-blue-light: #cfecfb;
$lb-blue-lighter: #e1f3fc;
$lb-blue-steel: #3b4f67;
$lb-blue-steel-dark: #314256;
$lb-gray: #a9a9a9;
$lb-gray-dark: #3b3b3b;
$lb-gray-blue-dark: #2f353f;
$lb-red: #ed1c24;

/* </Custom Variables Definitions> */
