/* Login */
.login-info {
	float: none;
	width: 100%;
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid $brand-secondary;

	.input-group-addon {
		padding: 6px;
		i {
			color: $text-color;
		}
	}

	.btn {
		@extend .btn-lg;
	}
}

/* Logout */
.logout {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
