
<div class="row">
    <div class="col">
        <h2>
            <a href="$uris.back" class="btn btn-theme-light me-2">
                <i class="fa fa-chevron-left"> </i>
            </a>
            $lb.text('titles_Account')
        </h2>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form>
            <div class="mb-2">
                <spk-form-field form="ChangePassword" name="Password" type="Input" 
                        input-type="password" label="$lb.text('labels_Password')"
                        placeholder="$lb.text('labels_Password')..." />
            </div>
            <div class="mb-2">
                <spk-form-field form="ChangePassword" name="NewPassword" type="Input" 
                        input-type="password" label="$lb.text('labels_NewPassword')"
                        placeholder="$lb.text('labels_NewPassword')..." />
            </div>
            <div class="mb-2">
                <spk-form-field form="ChangePassword" name="NewPassword_Confirmation" type="Input" 
                        input-type="password" placeholder="$lb.text('labels_NewPassword_Confirmation')..." />
            </div>
            <div class="mb-2">
                <div _show="message" class="alert alert-$messageType">$message</div>
            </div>
            <button type="submit" _elem="changePassword" href="" class="btn btn-theme-primary w-100">
                $lb.text('buttons_Save')
            </button>
        </form>
    </div>
</div>
