
<div class="container-fluid min-vh-100 $panelClass ">
    <div class="row">
        <div class="col-md-3 col-lg-2 lb-menu-holder">
            <$ _holder="topMenu" />
        </div>
        <div class="offset-md-3 offset-lg-2 col-md-9 col-lg-10 min-vh-100 lb-content-holder">
            <div class="lb-top-bar">
                <$ _holder="userInfo" />
            </div>
            <div class="lb-main-holder">
                <$ _holder="content" />
                <div class="back-to-top">
                    <a _elem="backToTop" class="spScrollToTop btn btn-theme-light" href="">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
