
<!-- <div class="mg-fill-screen lb-background-main"></div>  -->
<div class="lb-content $panelClass container-fluid">
    <!-- Side Menu Background
    <div class="col-lg-2 col-sm-3 mg-absolute lb-bg-white"
            style="top:0;bottom:0;left:0;right:0;"></div>-->

    <div class="lb-topbar row">
        <!-- Logo -->
        <div class="col-xl-2 col-md-3">
            <div class="lb-logo">
                <a href="$lb.uris.base">
                    <img src="$lb.images.logo" alt="logo" />
                </a>
            </div>
        </div>

        <!-- User Info -->
        <div class="col-xl-10 col-md-9 ">
            <$ _holder="userInfo" />
        </div>
        <div class="mg-clear"></div>
    </div>
    <div class="row">
        <!-- side menu -->
        <div class="col-xl-2 col-md-3 mg-no-padding-horizontal lb-bg-gray-light">
            <$ _holder="topMenu" />
        </div>

        <!-- main content -->
        <div class="col-xl-10 col-md-9 lb-bg-gray-lightest" style="min-height: 800px;">
            <$ _holder="content" />
            <div class="backToTop mg-spacer-top mg-spacer-bottom">
                <hr />
                <a id="backToTop" class="spScrollToTop btn btn-outline-secondary" href="">
                    $lb.text('backToTop')&nbsp;<i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="mg-clear"></div>
</div>
<div class="lb-povered-by pull-right">
    Powered by&nbsp;<a href="http://allblue.pl">AllBlue</a>
</div>
