<div class="login-info">
    <form _elem="form" method="post" role="form" name="form" id="form" >
        <input _elem="login"
            placeholder="$lb.text('LogIn_Login_Placeholder')"
            value=""
            type="text" required="" class="form-control"/>
        <input _elem="password"
            placeholder="$lb.text('LogIn_Password_Placeholder')"
            value=""
            type="password" required="" class="form-control" />

        <div _show="error.show" class="alert alert-danger alert-narrow">
            <p>$error.message</p>
        </div>
        <button type="submit" class="btn btn-theme-primary w-100">
            $lb.text('LogIn_LogIn')
        </button>
    </form>
    <div _holder="notifications"></div>
</div>
