
<div class="lb-bg-holder fill lb-background-login"></div>
<div class="lb-login-holder">
    <div class="col-xl-4 col-sm-8 lb-login">
        <div class="lb-login-content">
            <div class="lb-login-logo">
                <img  src="${lb.images.logo}" />
            </div>
            <div class="lb-login-form">
                <$ _holder="form" />
            </div>
        </div>
        <div class="lb-povered-by">
            Powered by &nbsp;<a href="https://allblue.pl"> AllBlue</a>
        </div>
    </div>
</div>
