
<div class="mg-fill-screen lb-background-login"></div>
<div class="magda-holder">
    <div class="col-xl-5 col-sm-8 lb-login">
        <div class="lb-login-content row">
                <div class="lb-login-logo col-md-5">
                    <img src="${lb.images.logo}" />
                    <div class="mg-clear"></div>
                </div>
                <div class="lb-login-form col-md-7">
                    <h3>
                        $lb.text('texts_LogInMessage')
                    </h3>
                    <$ _holder="form" />
                </div>
                <div class="mg-clear"></div>
        </div>
        <div class="lb-povered-by">
            Powered by &nbsp;<a href="https://allblue.pl"> AllBlue</a>
        </div>
    </div>
</div>
