
<!-- Main menu panel -->
<div class="lb-main-header-bg d-none"></div>
<div class="lb-main-header d-none">
    <h1>Dzień dobry.</h1>
    <p>Piątek, 15 marca 2020</p>
</div>
<div class="lb-main-stats d-none">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">

                        </div>
                        <div class="col">
                            <p class="stat-desc">
                                $eText('Sys:texts_Users')
                            </p>
                            <p class="stat-info">248</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">A</div>
                        <div class="col">
                            <p class="stat-desc">Farmers</p>
                            <p class="stat-info">548</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">A</div>
                        <div class="col">
                            <p class="stat-desc">Bulls</p>
                            <p class="stat-info">187 / 102</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto">A</div>
                        <div class="col">
                            <p class="stat-desc">Receipts</p>
                            <p class="stat-info">10 586</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lb-menu-tiles row">
    <div _repeat="panels:panel" _show="panel.shortcut" class="col-lg-4 col-sm-6 $class">
        <div class="card shadow-sm">
            <a _elem="Buttons_Panel" class="btn btn-theme-primary tile-main w-100" href="${lb.uris.base}${panel.alias}/">
                <img _show="panel.image" src="$panel.image" alt="$panel.title" />
                $panel.title
            </a>
            <div class="card-body">
                <div class="row no-gutters">
                    <div _repeat="panel.subpanels:subpanel" _show="subpanel.shortcut" class="col-6 btn-holder">
                        <a _elem="Buttons_Subpanel" href="$subpanel.uri" class="btn btn-theme-light mg-full">
                            <i class="fa $subpanel.faIcon pr-2"> </i>$subpanel.title
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mg-clear"></div>
