
<h1>Panel Panel</h1>

<!-- System panel -->
<div class="row mg-spacer-bottom-s">
	<div class="lb-header col-lg-5">
		<div ab-show="isUser" ab-hide="isNew"></div>
		<h2>
			<a ab-elem="back" class="btn btn-default mg-spacer-right-s" href="">
				<i class="fa fa-chevron-left"></i>
				<!--Powrót -->
			</a>
			<img ab-show="image" alt="title" src="$panel.image" />
			<!-- <i ab-hide="image" class="fa {{faIcon}}"></i> -->
			$panel.title
		</h2>
	</div>

	<div class="col-lg-7 lb-buttons-panel mg-spacer-top-s">
		<div ab-holder="buttons" class="lb-buttons">
			<div ab-holder="button1"></div>
			<div ab-holder="button2"></div>
			<div ab-holder="button3"></div>
			<div ab-holder="button4"></div>
		</div>
	</div>
</div>

<div class="mg-clear"></div>

<div ab-holder="content"></div>

<div ab-holder="notifications"></div>
