
<div class="lb-bg-holder fill lb-background-login"></div>
<div class="lb-login-holder">
    <div class="col-xl-4 col-sm-8 lb-login">
        <div class="lb-login-content">
            <div class="lb-login-logo">
                <img  src="${lb.images.logo}" />
            </div>
            <div class="lb-login-form">
                <div class="login-info">
                    <form _elem="Form" method="POST" role="form" name="Form" >
                        <input _elem="NewPassword"
                                placeholder="$lb.text('NewPassword_Placeholder')"
                                value="$lb.dev.password"
                                type="password" required="" class="form-control" />
                        <input _elem="NewPassword_Confirmation"
                                placeholder="$lb.text('NewPassword_Confirmation_Placeholder')"
                                value="$lb.dev.password"
                                type="password" required="" class="form-control" />
                       
                        <div class="mb-2">
                            <div _show="message" class="alert alert-$messageType">
                                $message
                            </div>
                        </div>
                       
                        <button type="submit" _elem="changePassword" href="" class="btn btn-theme-primary w-100">
                            $lb.text('Buttons_Save')
                        </button>
                    </form>
                    <div _holder="notifications"></div>
                </div>
            </div>
        </div>
        <div class="lb-povered-by">
            Powered by &nbsp;<a href="https://allblue.pl"> AllBlue</a>
        </div>
    </div>
</div>