
<div class="lb-logo">
    <a href="$lb.uris.base">
        <img src="$lb.images.logo_Main" alt="logo" />
    </a>
</div>
<div class="lb-menu-main">
    <nav class="navbar navbar-expand-md navbar-light">
        <!-- Toggler/collapsibe Button -->
        <button _show="HasBackButton" _elem="BackButton" class="navbar-toggler btn-back">
            <i class="fas fa-arrow-left">&nbsp;</i>
        </button>
        <button _hide="HasBackButton" class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div _elem="Menu" class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a _elem="menuItem_Home" class="nav-link" href="$lb.uris.base">
                        <i class="fa fa-home" aria-hidden="true"></i>&nbsp;
                        $lb.text('Titles_Home')
                    </a>
                </li>
                <li _repeat="menuItems:item" class="nav-item $item.activeClass">
                    <a _elem="menuItems_Panel" class="nav-link" href="$item.uri">
                        <$ _show="item.faIcon">
                            <i class="$item.faIcon"></i>&nbsp;
                        </$>
                        $item.title
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
