
<div class="lb-menu-top">
    <nav class="navbar navbar-expand-md navbar-light">
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                <li _repeat="menuItems:item" class="nav-item $item.activeClass">
                    <a class="nav-link" href="$item.uri">
                        $item.title
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
